module uq-globus-tools 1.0;

require {
        type ldap_port_t;
        type devlog_t;
        type gcs_manager_t;

        class tcp_socket name_connect;
        class lnk_file   read;
        class sock_file  write;
}

##
# For ldap
##
allow gcs_manager_t ldap_port_t:tcp_socket name_connect;

##
# For /dev/log
##
allow gcs_manager_t devlog_t:lnk_file read;
allow gcs_manager_t devlog_t:sock_file write;
